.App {
  text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  border: 1px solid #1e8678;
}
.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

cite {
	font-weight: bold;
}
table {
	align-content: center;
	margin: auto;
}
td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}
.cap-first-letter:first-letter {
	text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
  color:rgb(199, 78, 98);
	max-width: 60%;
}
.showlink {
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #0e2925 !important;
	text-decoration: none !important;
	margin: 5px;
	border: 1px solid rgb(199, 78, 98);
}

.showlink:hover {
	color: rgb(202, 151, 151) !important;
	border: 3px solid rgb(199, 78, 98);
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #206377;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1e8678;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

.userIcon {
  width: 260px;
  height: 260px;
  object-fit: cover;
}

.wishImg {
  height: 260px;
  object-fit: cover;
}

.recipeImg {
  height: 250px;
  object-fit: cover;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* .bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-star' viewBox='0 0 16 16'><path d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
} */

